html{
    -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body,ul,dl,dd{
    margin:0;
    padding:0;
}
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    background-color:#f4f4f4;
}
ul{
    list-style-type: none;
}
a{
    -webkit-tap-highlight-color: transparent;
}
a:active{
     color: #333;
 }
img{
    vertical-align: middle;
    border: none;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: block;
    width: 0;
    visibility: hidden;
    clear: both;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}


header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
    cursor: pointer;

}

header a:hover{
    color:#cccccc;
}


#showcase{
    min-height:400px;
    background:#8162ee url('../img/1.jpg') no-repeat  bottom;
    background-size: contain;
    text-align:center;
    color:#ffffff;
}
#showcase p{
    visibility: hidden;
}

.newsletter{
    padding:15px 0 15px 0;
    color: #fff;
    background:#35424a;
}

.newsletter .menu{
    float:left;
    cursor: pointer;
    /* background: url('../img/menu1.png') no-repeat left center; */
    /*background: url('../img/menu.png') no-repeat left bottom;*/
    /*background-image: -webkit-image-set(url('../img/menu.png') 1x,url('../img/menu2.png') 2x,url('../img/menu3.png') 3x);*/
}
.icon-menu{
    display: inline-block;
    height: 100%;
    font-size: 25px;
    vertical-align: middle;
    padding-right:5px;
}


.boxes{
    margin-top:20px;
}
.boxes .boxes_container{
    background-color: rgba(34,34,34,0.9);
    margin-bottom: 20px;
    line-height: 6.25rem;
    height: 6.25rem;

}
.boxes .boxes_container a{
    text-decoration: none;
    color: #dddddd;
}
.boxes h1{
    cursor: pointer;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #dddddd;

}
.boxes h1:hover{
    color: #ffffff;
}
.show dl{
    float: left;
    width: 20%;
    margin-right:6.66666667%;
    margin-bottom: 20px;
}
.show dl:nth-of-type(4n){
    float: right;
    margin-right:0;
}
.show dt {
    width: 100%;
}
.show dt img{
    width: 100%;
}
.show dd{
    text-align: center;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.show a{
    color: rgba(34,34,34,0.9);
    text-decoration: none;
}


footer{
    padding:20px;
    margin-top:20px;
    background-color:	rgba(232, 73, 29,1);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.footer_content div{
    display: inline-block;
    margin-right:100px;
}
.footer_content h1{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 200;
}

.footer_content ul{
    display: block;
}
.footer_content a{
    color: hsla(0,0%,100%,.7);
    font-size: .9em;
    text-decoration: none;
}
.footer_content a:hover{
    color: #fff;
    text-decoration: underline;
}
#back{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    border-radius: 50%;
    background: rgba(0,0,0,.7) url("../img/back.png") no-repeat center center;
    cursor: pointer;
    display: none;
}
@media(min-width: 850px) and (max-width:1218px){
    .show dd{

        font-size: 18px;

    }
    .footer_content div{
        display: inline-block;
        margin-right: 80px;
    }

}
@media(min-width: 768px) and (max-width:850px){
    .show dl{
        float: left;
        width: 45%;
        margin-right:10%;
        margin-bottom: 20px;
    }
    .show dl:nth-of-type(2n){
        float: right;
        margin-right:0;
    }
    /* .show dt{

    } */
    .show dt img{
        width: 100%;
    }
    .show dd{
        text-align: center;
        font-size: 22px;
        height: 40px;
        line-height: 40px;
    }
    .show dd a{
        color: rgba(34,34,34,0.9);
        text-decoration: none;
    }
    .footer_content div{
        display: inline-block;
        margin-right: 70px;
    }
}

@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    .boxes .box{
        float:none;
        text-align:center;
        width:100%;
    }
    #showcase{
        min-height:230px;
    }
    header{
        padding-bottom:20px;
    }

    .show dl{
        width: 100%;
        margin-bottom: 20px;
    }
    /* .show dt{

    } */
    .show dt img{
        width: 100%;
    }
    .show dd{
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 22px;
    }

    .show dd a{
        color: rgba(34,34,34,0.9);
        text-decoration: none;
    }

    footer{
        text-align: left;
    }
    div.footer_content{
        width: 100%;
    }
    .footer_content div{
        display: block;
        border-bottom:1px solid #fff;
        margin-right: 0;
    }

    .footer_content h1{
        margin-bottom: 10px;
        background: url("../img/top.png") no-repeat center right;
        cursor: pointer;
    }

    .footer_content ul{
        display: none;
        margin-bottom: 10px;
    }
    .footer_content .change{
        background-image: url("../img/bottom.png");
    }

}